<!doctype html>
<html lang="en">
<body>
  <header>
    <a href="/">My 11ty site</a>
  </header>
  <main>
      {% if title %} <h1>{{ title }}</h1>{% endif %}
      {%- if puppers %} 
      <img src="{{puppers}}" at="A good doggo"/>
      {%- endif %}
      
      {{ content }}
  </main>
</body>
</html>